.row-table{
    img{
        width: 100%;
    }
}

.modal-body{
    text-align: center;
    img{
        width: 50%;
        border-radius: 1em;
        margin: 2em 0em;
    }
}

.resultado-final{
    font-size: 2em;
}